nav .container {
    width: 95%;
    margin-top: 20px;
}

.dropdown-item {
    width: 150px;
    padding: 8px 16px;
    font-size: 20px;
}

.btn--icon {
    width: 80px;
}

.go-to-top {
    width: 160px;
}

table td {
    font-size: 20px;
}

.table__title {
    font-size: 35px;
}

.table__headers th {
    font-size: 20px;
}

.table__sorting-buttons {
    width: 36%;
    margin: 5% 0 2% 9%;
}    

.table__sorting-buttons .btn {
    padding: 5px 15px;
    font-size: 35px;
}

.characters-preview {
    margin-top: 3%;
    width: 92%;
}

.fav-card {
    height: 600px;
}

.fav-card > img {
    width: 330px;
}

.favorites-list--row-3 .fav-card > img {
    width: 270px;
}

.favorites-list--row-3 .fav-card {
    height: 530px;
}

.favorites-list--row-5 .fav-card {
    height: 350px;
    font-size: 24px;
}    

.favorites-list--row-5 .fav-card > img {
    width: 180px;
}